
<!-- Graph test -->
<div class="container-fluid" ng-init = "prova()">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <i class="fa fa-bar-chart-o fa-fw"></i> Current Month
                    <div class="pull-right">
                    </div>
                </div>

                <div class="col-sm-6 text-center">
                <label class="label label-info">Area Chart</label></div>

                <!-- /.panel-heading -->
                <div class="panel-body">

                    <div id="morris-area-chart"></div>

                </div>

            </div>
        </div>
    </div>
</div>
